* {
	margin:0;
  }
  
  body {
	
	font-family: 'Geologica', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .bg {
	animation:slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(120deg, #6c3 50%, #09f 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:fixed;
	right:-50%;
	top:0;
	z-index:-1;
  }
  
  .bg2 {
	animation-direction:alternate-reverse;
	animation-duration:4s;
  }
  
  .bg3 {
	animation-duration:5s;
  }
  
  .content {
	background-color:rgba(255,255,255,.8);
	border-radius:.25em;
	box-shadow:0 0 .25em rgba(0,0,0,.25);
	box-sizing:border-box;
	left:50%;
	padding:10vmin;
	position:fixed;
	text-align:center;
	top:50%;
	transform:translate(50%, 50%);
  }
  
  h1 {
	font-family:monospace;
  }
  
  @keyframes slide {
	0% {
	  transform:translateX(-25%);
	}
	100% {
	  transform:translateX(25%);
	}
  }
.container {
    padding: 32px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    background: transparent;
    box-shadow: 20px 20px 40px rgba(0,0,0,0.08), -8px -8px 16px rgba(0,0,0,0.1) inset;
}
.title {
    text-align: center;
}
.input-container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}
.input-container input {
    padding: 8px;
    border-radius: 4px;
    margin-top: 4px;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: none !important;
    outline: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
	font-size: 17px;
	font:bolder;
}



